@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  background: #030712;

  color: white;

  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.glass {
  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}